[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
"discord.py" = "*"
cryptography = "*"
requests = "*"

[dev-packages]
alembic = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
